[Unit]
Description=USB Keyfile Unlocker
DefaultDependencies=no

Before=initrd-root-device.target
After=systemd-vconsole-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-keyfile
TimeoutSec=300s

[Install]
WantedBy=sysinit.target
