[Unit]
Description=USB Keyfile Unlocker
DefaultDependencies=no

# 1. 强行绑定在 cryptsetup 相关的 target 上，这是官方解锁服务的正统做法
# 确保在开始寻找 root 设备、以及系统的密码代理准备好时它必须在场
After=systemd-udev-trigger.service systemd-udevd.service
Before=dracut-initqueue.service cryptsetup.target

[Service]
# 2. 放弃 oneshot，改为使用标准的 simple！
# Simple 会在拉起脚本的第一时间将服务转为 Active，把后续的 TTY 读写权无条件放开
Type=simple
ExecStart=/usr/local/bin/usb-keyfile

# 3. 核心修正：放弃直接生猛地霸占 tty 输入
# 现代 systemd 服务的标准做法：使用 standard 输入输出重定向到 console，
# 这能让你的 python 脚本调用的 "systemd-ask-password" 
# 通过标准的系统管道无缝弹到主屏幕上，而不会触发物理 TTY 资源锁冲突！
StandardInput=console
StandardOutput=journal+console
StandardError=journal+console

# 4. 告诉 Systemd 哪怕进程退出了，在没有解锁前也认为服务是活的
RemainAfterExit=yes
TimeoutSec=30s

[Install]
WantedBy=dracut-initqueue.target